<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <center>
        <h1>pagina prueba</h1> 

        <div class="container">
            
            <form action="">
                <input class="form-control form-control-lg" id="GET-name" type="text" placeholder="Tarea" aria-label=".form-control-lg example" name="name">
                <input class="form-control" id="GET-email" type="text" placeholder="Correo de tarea" aria-label="default input example" name="email">
                <select name="dificultad" id="dificultad">
                    <option value="f">Facil</option>
                    <option value="m">Medio</option>
                    <option value="d">Dificl</option>
                </select>
                <input type="submit" value="Save">
            </form>
          </div><br>
        <a href="../">
            <input type="button" value="regresar">
        </a>
    </center>
    
    
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
